
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


p, h1, h2, h3, span {
  cursor: default;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=============== HOME ===============*/
.home__container-main {
    padding-top: 1.5rem;
    row-gap: 1.5rem;
  }
  
  .section-main {
    padding: 4.5rem 0 1rem;
  }

  .home__img-main {
    width: 320px;
    justify-self: center;
  }
  .free__img-main {
    width: 370px;
    justify-self: center;
  }
  
  .home__data-main {
    text-align: center;
  }
  
  .home__title-main {
    font-size: 1.5rem;
    line-height: 140%;
    margin-bottom: 0.5rem;
  }
  
  .home__description-main {
    font-size: .813rem;
    padding: 0 2rem;
    margin-bottom: 2.5rem;
  }
  
  .container-main {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid-main {
    display: grid;
  }

  .button-main {
    display: inline-block;
    background-color: #38486d;
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: 500;
    border-radius: 3rem;
    transition: .3s;
    text-decoration: none;
  }
  
  .button-main:hover {
    background-color: #576ea6;
  }

  .home-title-span {
    color: #38486d;
     font-size: 2rem;
  }

  /* For small devices */
@media screen and (max-width: 320px) {
    .container-main {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
  }

  @media screen and (max-width: 400px) {
    .home__img-main {
      width: 280px;
      justify-self: center;
      margin-top: 27px;
    }
    .free__img-main {
      width: 350px;
      justify-self: center;
      margin-top: -40px;
    }
  
  }

  @media screen and (min-width: 767px) {
    .home__container-main{
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .home__container-main {
      padding-top: 6rem;
    }
    .home__data-main {
      text-align: initial;
    }
    .home-title-span {
      color: #38486d;
       font-size: 2.5rem;
    }
    .home__description-main {
      padding: 0;
    }
  }



  /* For large devices */
@media screen and (min-width: 992px) {
    .container-main {
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__img-main {
      width: 400px;
      margin-left: 7rem;
    }

    .free__img-main {
      width: 500px;
      margin-left: 5rem;
    }


    .home__container-main {
      padding-top: 5rem;
      column-gap: 1rem;
    }
    .home__data-main {
      text-align: initial;
      margin-left: 100px;
    }
    .home__description-main {
      padding: 0;
      font-size: .9rem;
      margin-bottom: 2.3rem;
    }
    .home__title-main {
      font-size: 2.5rem;
      line-height: 140%;
      margin-bottom: 0.5rem;
    }
    .home-title-span {
      color: #38486d;
       font-size: 4rem;
    }
  
  }

  @media screen and (min-width: 767px) {
   .section-main {
      padding: 6.5rem 0 2rem;
    }
  }








/*=============== NEW ===============*/
.new__card {
  position: relative;
  width: 230px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}


.new__overlay {
  width: 250px;
  height: 250px;
  background-color: #38486d;
  border-radius: 50%;
  position: absolute;
  top: -6rem;
justify-content: center;
margin-left: -1.65rem;
  z-index: 0;
}

.new__img {
  position: relative;
  width: 150px;
  margin-bottom: 2rem;
  transition: .3s;
}

.new__price {
  font-size: 1.5rem;
}

.new__title {
  font-weight: 500;
}

.new__button {
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.new__icon {
  font-size: 1.25rem;
}

.new__card:hover .new__img {
  transform: translateY(-.5rem);
}

.button-new {
  display: inline-block;
  background-color: #38486d;
  color: #fff;
  padding: .75rem 1.6rem;
  font-weight: 900;
  font-size: 14px;
  border-radius: 3rem;
  transition: .3s;
  text-decoration: none;
  border: none;
  margin-top: 25px;
}

.button-new:hover {
  background-color: #576ea6;
  cursor: pointer;
}

/*Class Swiper*/
.swiper-pagination-bullet {
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: red;
}


@media screen and (min-width: 992px){
.new__container {
    padding-top: 2rem;
}
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}





/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .new__container {
    padding-top: 2rem;
  }
  .new__card {
    margin-bottom: 5rem;
  }
  .new__price {
    font-size: 1.25rem;
  }
}






.free-span {
  color: #38486d;
     font-size: 15px;
     font-weight: bolder;
     text-decoration: underline;
}






/* == The Team ==*/
.container__team
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.content {
  justify-content: center;
  text-align: center;
}
.container__team .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container__team .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container__team .card .content .imgBxZelle
{
   width: 180px;
   height: 180px;
   border-radius: 0%;
   position: relative;
   margin-bottom: -15px;
   margin-top: -30px;
   overflow: hidden;
}
.container__team .card .content .imgBxApple
{
   width: 180px;
   height: 180px;
   border-radius: 0%;
   position: relative;
   margin-bottom: -15px;
   margin-top: -30px;
   overflow: hidden;
}
.container__team .card .content .imgBxCash
{
   width: 180px;
   height: 180px;
   border-radius: 0%;
   position: relative;
   margin-bottom: -15px;
   margin-top: -30px;
   overflow: hidden;
}

.container__team .card .content .imgBxCash img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container__team .card .content .imgBxApple img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container__team .card .content .imgBxZelle img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.contentBx {
  text-align: center;
}

.container__team .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   margin-top: 40px;
   margin-bottom: -18px;
}
.container__team .card .content .contentBx h5
{
   color: #6c758f;
   font-size: .9rem;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
}
.container__team .card .content .sci
{
   margin-top: 20px;
}
.container__team .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container__team .card .content .sci a:hover
{
   color: #0196e3;
}
/*   colors
        #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */

 .container__team .card .content .imgBxCash:hover {
    transition: .5s;
    box-shadow: 0px 0px 30px 3px #00d6329b;
    
}

 .container__team .card .content .imgBxZelle:hover {
    transition: .5s;
    box-shadow: 0px 0px 30px 3px #671ccaa8;
}

 .container__team .card .content .imgBxApple:hover {
    transition: .5s;
    box-shadow: 0px 0px 30px 3px #23c5dba8;
}


.donate-button {
  padding: 8px 35px 8px 35px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid #38486d;
	color: #38486d;
}

.container__team .card .content .contentBx button:hover {
    background-color: #38486d;
    transition: .5s;
    color: white;
    border: .1px solid #38486d;
    cursor: pointer;
}


.btn__team2 {
    padding: 8px 35px 8px 35px;
    margin-left: 47px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}


.btn__team3 {
    padding: 8px 35px 8px 35px;
    margin-left: 54px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}


.btn__team4 {
    padding: 8px 35px 8px 35px;
    margin-left: 35px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}


.btn__team5 {
    padding: 8px 35px 8px 35px;
    margin-left: 2px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}


.btn__team6 {
    padding: 8px 35px 8px 35px;
    margin-left: 25px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}


.btn__team7 {
    padding: 8px 35px 8px 35px;
    margin-left: 19px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}

.btn__team8 {
    padding: 8px 35px 8px 35px;
    margin-left: 50px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}

.btn__team9 {
    padding: 8px 35px 8px 35px;
    margin-left: 28px;
    border-radius: 50px;
    background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}

/* == The Team End ==*/