@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
  }

body {
	font-family: 'Poppins', sans-serif;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*=============== SCROLL UP ===============*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -30%;
	background-color: #38486d;
	box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
	display: inline-flex;
	padding: .35rem;
	border-radius: .25rem;
	z-index: 10;
	transition: .4s;
	text-decoration: none;
  }
  
  .scrollup:hover {
	background-color: #4e6395;
  }
  
  .scrollup__icon {
	font-size: 1.25rem;
	color: #fff;
  }
  
  /* Show Scroll Up*/
  .show-scroll {
	bottom: 3rem;
  }
  
  /*=============== SCROLL BAR ===============*/
  ::-webkit-scrollbar {
	width: .6rem;
	background: hsl(355, 8%, 44%);
	border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb {
	background: hsl(355, 32%, 17%);
	border-radius: 1rem;
  }
/*=============== SCROLL UP End ===============*/



/* tables */
.table { 
  width: 100%;
  margin: 15px 0; 
}
.table__header { 
  font-weight: 600;
  padding: 10px 20px 12px 12px;
  font-size: 15px;
  text-align: center; 
  color: white;
  border: 1px solid #000; 
  background-color: #38486d; 
}
.table__cell { 
  font-weight: normal;
  padding: 10px; 
  text-align: center; 
  border: 1px solid #000; 
  background-color: #fff; 
}
.table__dollar::before{
  content: "$";
}

.extrapay-btn {
	background: #676565;
	color: #fff;
	border: none;
	padding: 8px 18px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 900;
	cursor: pointer;
	margin: 10px 0;
}

.extrapay-btn:hover {
	background: #14213d;
  transition: .5s;
  }

@media screen and (max-width: 400px){
    .table { 
		width: 100%;
		margin: 15px 0; 
	  }
	  .table__header { 
		font-weight: 100;
		padding: 7px 16px 7px 16px;
		font-size: 14px;
		text-align: center; 
		color: white;
		border: 1px solid #000; 
		background-color: #38486d; 
	  }
	  .table__cell { 
		font-weight: normal;
		padding: 5px; 
		text-align: center; 
		border: 1px solid #000; 
		background-color: #fff; 
	  }
	  .yearsection {
		padding: 5px;
		font-size: 10px;
	  }
	  .extrapay-btn {
		background: #676565;
		color: #fff;
		border: none;
		padding: 8px 10px;
		border-radius: 4px;
		font-size: 10px;
		font-weight: 900;
		cursor: pointer;
		margin: 9px 0;
	}
}


/* Nav Bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9.5vh;
	background-color: #38486d;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
    color: rgb(228, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
	height: 10px;
}
.logo-title {
    color: rgb(228, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
	height: 10px;
}

.logo img {
	height: 110px;
	width: 110px;
	margin-top: -47px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
	width: 60%;
}

.nav-links a{
    text-decoration: none;
    color: rgb(228, 226, 226);
	font-size: 16px;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	margin: 0px 5px 0px 5px;
}
.nav-links li{
    list-style: none;
}
.burger div{
    width:25px;
    height: 2px;
    background-color: rgb(228, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
    
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9.5vh;
        background-color: #38486d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: inline-block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Nav Bar End */


/* Table of content */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
	width: 800px;
    margin: 24px auto;
	text-align: center;
	border-radius: 1em;
	overflow: hidden;
	border: 2px solid white;
	
}



.appendex-link {
	text-decoration: none;
	color: rgb(98, 98, 159);
}

.styled-table thead tr {
    background-color: #38486d;
    color: #ffffff;
    text-align: center;
	height: 55px;
	font-size: 15px;
	
}



.styled-table th,
.styled-table td {
    padding: 12px 15px;
	
}



.styled-table tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.content-description {
	color: #28333b;
	text-decoration: none;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #727373;
	background-color: rgb(238, 238, 238);
}



.section-title{
    font-size: 1.55rem;
    color: rgb(98, 98, 159);
    margin: 2rem 0;
    text-align: center;
}

/* Table of content End */


/* Cap Rate */
.loan-calculator {
	font-family: "Roboto", sans-serif;
	width: 600px;
	margin: 24px auto;
	background: #fff;
	box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	color: #14213d;
	overflow: hidden;
  }
.loan-calculator-More {
	font-family: "Roboto", sans-serif;
	width: 600px;
	margin: 24px auto;
	background: #fff;
	box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	color: #14213d;
	overflow: hidden;
  }

 
  .loan-calculator,
  .loan-calculator * {
	box-sizing: border-box;
  }
  .loan-calculator-More,
  .loan-calculator-More * {
	box-sizing: border-box;
  }
  
  .loan-calculator .top {
	background: #14213d;
	color: #fff;
	padding: 32px;
  }
  .loan-calculator-More .top {
	background: #14213d;
	color: #fff;
	padding: 32px;
  }
  
  .loan-calculator .top h2 {
	margin-top: 0;
  }
  .loan-calculator-More .top h2 {
	margin-top: 0;
  }
  
  .loan-calculator form {
	display: flex;
	gap: 8px;
	justify-content: space-between;
  }
  .loan-calculator-More form {
	display: flex;
	gap: 8px;
	justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly
  }
  
  .loan-calculator .title {
	margin-bottom: 16px;
  
  }
  .loan-calculator-More .title {
	margin-bottom: 16px;
  
  }
  
  .loan-calculator form input {
	font-size: 20px;
	padding: 8px 24px;
	width: 100%;
  }
  
  .loan-calculator-More form input {
	font-size: 20px;
	padding: 8px 24px;
	width: 100%;
  }
  
  .loan-calculator .result {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .loan-calculator-More .result {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .loan-calculator .result .left {
	width: 100%;
	padding: 8px 32px;
  }
  .loan-calculator-More .result .left {
	width: 100%;
	padding: 8px 32px;
  }
  
  .loan-calculator .left h3 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
  }
  .loan-calculator-More .left h3 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
  }
  
  .loan-calculator .result .value {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(20, 33, 61, 0.2);
  }
  .loan-calculator-More .result .value {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(20, 33, 61, 0.2);
  }
  
  .loan-calculator .result .value::before {
	content: "$";
	font-size: 24px;
	font-weight: 400;
	margin-right: 6px;
	opacity: 0.4;
  }
  .loan-calculator-More .result .value::before {
	content: "$";
	font-size: 24px;
	font-weight: 400;
	margin-right: 6px;
	opacity: 0.4;
  }
  
  .loan-calculator .calculate-btn {
	background: #e63946;
	color: #fff;
	border: none;
	padding: 8px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 24px 0;
  }
  .loan-calculator-More .calculate-btn {
	background: #e63946;
	color: #fff;
	border: none;
	padding: 8px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 24px 0;
  }


  .loan-calculator .calculate-btn-mortgage {
	background: #676565;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  .loan-calculator-More .calculate-btn-mortgage {
	background: #676565;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }

  .loan-calculator .calculate-btn-mortgage:hover {
	background: #14213d;
  transition: .5s;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  .loan-calculator-More .calculate-btn-mortgage:hover {
	background: #14213d;
  transition: .5s;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  
.form__error{
  color: rgb(179, 9, 9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .loan-calculator .right {
	width: 50%;
  }
  .loan-calculator-More .right {
	width: 50%;
  }
  
  @media (max-width: 650px) {
	.loan-calculator {
	  width: 90%;
	  max-width: 500px;
	}
	.loan-calculator-More {
	  width: 90%;
	  max-width: 500px;
	}
  
	.loan-calculator form {
	  flex-direction: column;
	  gap: 20px;
	}
	.loan-calculator-More form {
	  flex-direction: column;
	  gap: 20px;
	}
  
	.loan-calculator .result {
	  flex-direction: column;
	  text-align: center;
	}
	.loan-calculator-More .result {
	  flex-direction: column;
	  text-align: center;
	}
  }

  @media (max-width: 795px) {
	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		width: 400px;
		margin: 24px auto;
		text-align: center;
	
	}
  }
  @media (max-width: 400px) {
	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.7em;
		font-family: sans-serif;
		min-width: 100px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		width: 300px;
		margin: 24px auto;
		text-align: center;
	
	}
  }
  
/* Cap Rate End */






/*=============== FOOTER ===============*/
.footer {
	overflow: hidden;
  }
  
  .footer__container {
	position: relative;
	row-gap: 2rem;
  }
  
  .footer__logo {
	display: flex;
	align-items: center;
	column-gap: .25rem;
	color: hsl(355, 4%, 15%);
	font-weight: 500;
  }
  
  .footer__logo-img {
	width: 5rem;
  }
  
  .footer__description {
	font-size: .75rem;
  }
  
 
  .footer__title {
	margin-bottom: 1rem;
  }
  .footer__logo {
	margin-bottom: -2rem;
	margin-left: -25px;
  }
  
  .footer__title {
	font-size: 1.25rem;
  }
  
  .footer__links, 
  .footer__aviables {
	display: flex;
	flex-direction: column;
	row-gap: .75rem;
  }
  
  .footer__link {
	color: hsl(355, 4%, 35%);
	transition: .3s;
  }
  
  .footer__link:hover {
	color: hsl(355, 4%, 15%);
  }
  
  .footer__aviable-img {
	width: 100px;
	cursor: pointer;
  }
  
  .footer__copy {
	display: block;
	margin: 3.5rem 0 1rem 0;
	text-align: center;
	font-size: .75rem;
	color: hsl(355, 4%, 55%);
  }
  
 
  
  .footer__img1 {
	top: 65%;
	right: -3.1rem;
	position: absolute;
	width: 300px;
  }
  
  .footer__img2 {
	top: 60%;
	right: .5rem;
	position: absolute;
	width: 220px;
  }



  /* For medium devices */
@media screen and (min-width: 576px) {
	.footer__container {
	  grid-template-columns: repeat(2, 1fr);
	}
  }


  @media screen and (min-width: 767px) {
	.footer__container {
	  grid-template-columns: repeat(3, 1fr);
	}
  }



/* For large devices */
@media screen and (min-width: 992px) {

	.footer__container {
	  grid-template-columns: repeat(4, max-content);
	  justify-content: space-between;
	}
	.footer__copy {
	  margin-top: 7rem;
	}
	
	.footer__img1 {
	  top: 40%;
	  left: -20px;
	  width: 320px;

	}
	.footer__img2 {
	  top: 70%;
	  right: -1rem;
	  width: 200px;

	}
	
  }

  @media screen and (max-width: 400px) {
	.footer__img1 {
		top: 30%;
		right: -2.8rem;
		position: absolute;
		width: 250px;
	  }
	  
	  .footer__img2 {
		top: 50%;
		right: -1.3rem;
		position: absolute;
		width: 200px;
	  }
  }
  .section-main {
    padding: 4.5rem 0 1rem;
  }

  .container-main {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid-main {
    display: grid;
  }

  
  footer a {
	text-decoration: none;
  }
  footer ul {
	list-style: none;
  }

  @media screen and (min-width: 767px) {
	.section-main {
	   padding: 6.5rem 0 2rem;
	 }
   }
   @media screen and (max-width: 320px) {
    .container-main {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
  }

   /* For large devices */
@media screen and (min-width: 992px) {
    .container-main {
      margin-left: auto;
      margin-right: auto;
    }
}

.social-icons {
	display: flex;
	margin-top: 0.5rem;
  }
  
  .social-icons a {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: linear-gradient(45deg, #38486d, #38486d);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
	transition: 0.3s;
  }
  
  .social-icons a:hover {
	transform: scale(1.15);
  }



  @media (max-width: 480px) {
	.social-icons a {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	}
  
  }
  /*== Footer End ==*/