@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
  }

body {
	font-family: 'Poppins', sans-serif;
}

/* tables */
.table { 
  width: 100%;
  margin: 15px 0; 
}
.table__header { 
  font-weight: 600;
  padding: 10px 20px 12px 12px;
  font-size: 15px;
  text-align: center; 
  color: white;
  border: 1px solid #000; 
  background-color: #38486d; 
}
.table__cell { 
  font-weight: normal;
  padding: 10px; 
  text-align: center; 
  border: 1px solid #000; 
  background-color: #fff; 
}
.table__dollar::before{
  content: "$";
}

.extrapay-btn {
	background: #676565;
	color: #fff;
	border: none;
	padding: 8px 18px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 900;
	cursor: pointer;
	margin: 10px 0;
}

.extrapay-btn:hover {
	background: #14213d;
  transition: .5s;
  }

@media screen and (max-width: 400px){
    .table { 
		width: 100%;
		margin: 15px 0; 
	  }
	  .table__header { 
		font-weight: 100;
		padding: 7px 16px 7px 16px;
		font-size: 14px;
		text-align: center; 
		color: white;
		border: 1px solid #000; 
		background-color: #38486d; 
	  }
	  .table__cell { 
		font-weight: normal;
		padding: 5px; 
		text-align: center; 
		border: 1px solid #000; 
		background-color: #fff; 
	  }
	  .yearsection {
		padding: 5px;
		font-size: 10px;
	  }
	  .extrapay-btn {
		background: #676565;
		color: #fff;
		border: none;
		padding: 8px 10px;
		border-radius: 4px;
		font-size: 10px;
		font-weight: 900;
		cursor: pointer;
		margin: 9px 0;
	}
}


/* Nav Bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9.5vh;
	background-color: #38486d;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
    color: rgb(228, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
	height: 10px;
}
.logo-title {
    color: rgb(228, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
	height: 10px;
}

.logo img {
	height: 110px;
	width: 110px;
	margin-top: -47px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
	width: 60%;
}

.nav-links a{
    text-decoration: none;
    color: rgb(228, 226, 226);
	font-size: 16px;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	margin: 0px 5px 0px 5px;
}
.nav-links li{
    list-style: none;
}
.burger div{
    width:25px;
    height: 2px;
    background-color: rgb(228, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
    
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9.5vh;
        background-color: #38486d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: inline-block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Nav Bar End */


/* Table of content */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	width: 800px;
    margin: 24px auto;
	text-align: center;

}

.appendex-link {
	text-decoration: none;
	color: rgb(98, 98, 159);
}

.styled-table thead tr {
    background-color: #7f8181;
    color: #ffffff;
    text-align: center;
	
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
	
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #727373;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #727373;
	background-color: rgb(238, 238, 238);
}

.styled-table tbody {
	border-left: 2px solid #727373;
	border-right: 2px solid #727373;
	border-top: 2px solid #727373;


}
.styled-table thead {
	border-left: 2px solid #727373;
	border-right: 2px solid #727373;
	border-top: 2px solid #727373;


}

.section-title{
    font-size: 1.55rem;
    color: rgb(98, 98, 159);
    margin: 2rem 0;
    text-align: center;
}

/* Table of content End */


/* Cap Rate */
.loan-calculator {
	font-family: "Roboto", sans-serif;
	width: 600px;
	margin: 24px auto;
	background: #fff;
	box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	color: #14213d;
	overflow: hidden;
  }
.loan-calculator-More {
	font-family: "Roboto", sans-serif;
	width: 600px;
	margin: 24px auto;
	background: #fff;
	box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	color: #14213d;
	overflow: hidden;
  }

 
/*=============== SCROLL UP ===============*/

.scrollup{
	position: fixed;
	background-color: #727373;
	left: .7rem;
	bottom: 5.5rem;
	display: inline-flex;
	padding: .2rem;
	border-radius: .25rem;
	transition: .6s;
	text-decoration: none;
  }
  
  .scrollup__icon{
	font-size: 1rem;
	color: #FFF;
  }
  
  .scrollup:hover{
	background-color: #14213d;
	opacity: 1;
  }
  
  /* Show Scroll Up*/
  .show-scroll{
	bottom: 3rem;
  }
  
/*=============== SCROLL UP END ===============*/

  
  .loan-calculator,
  .loan-calculator * {
	box-sizing: border-box;
  }
  .loan-calculator-More,
  .loan-calculator-More * {
	box-sizing: border-box;
  }
  
  .loan-calculator .top {
	background: #14213d;
	color: #fff;
	padding: 32px;
  }
  .loan-calculator-More .top {
	background: #14213d;
	color: #fff;
	padding: 32px;
  }
  
  .loan-calculator .top h2 {
	margin-top: 0;
  }
  .loan-calculator-More .top h2 {
	margin-top: 0;
  }
  
  .loan-calculator form {
	display: flex;
	gap: 8px;
	justify-content: space-between;
  }
  .loan-calculator-More form {
	display: flex;
	gap: 8px;
	justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly
  }
  
  .loan-calculator .title {
	margin-bottom: 16px;
  
  }
  .loan-calculator-More .title {
	margin-bottom: 16px;
  
  }
  
  .loan-calculator form input {
	font-size: 20px;
	padding: 8px 24px;
	width: 100%;
  }
  
  .loan-calculator-More form input {
	font-size: 20px;
	padding: 8px 24px;
	width: 100%;
  }
  
  .loan-calculator .result {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .loan-calculator-More .result {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .loan-calculator .result .left {
	width: 100%;
	padding: 8px 32px;
  }
  .loan-calculator-More .result .left {
	width: 100%;
	padding: 8px 32px;
  }
  
  .loan-calculator .left h3 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
  }
  .loan-calculator-More .left h3 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
  }
  
  .loan-calculator .result .value {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(20, 33, 61, 0.2);
  }
  .loan-calculator-More .result .value {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(20, 33, 61, 0.2);
  }
  
  .loan-calculator .result .value::before {
	content: "$";
	font-size: 24px;
	font-weight: 400;
	margin-right: 6px;
	opacity: 0.4;
  }
  .loan-calculator-More .result .value::before {
	content: "$";
	font-size: 24px;
	font-weight: 400;
	margin-right: 6px;
	opacity: 0.4;
  }
  
  .loan-calculator .calculate-btn {
	background: #e63946;
	color: #fff;
	border: none;
	padding: 8px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 24px 0;
  }
  .loan-calculator-More .calculate-btn {
	background: #e63946;
	color: #fff;
	border: none;
	padding: 8px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 24px 0;
  }


  .loan-calculator .calculate-btn-mortgage {
	background: #676565;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  .loan-calculator-More .calculate-btn-mortgage {
	background: #676565;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }

  .loan-calculator .calculate-btn-mortgage:hover {
	background: #14213d;
  transition: .5s;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  .loan-calculator-More .calculate-btn-mortgage:hover {
	background: #14213d;
  transition: .5s;
	color: #fff;
	border: none;
	padding: 10px 32px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	margin: 50px 0;
  }
  
.form__error{
  color: rgb(179, 9, 9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .loan-calculator .right {
	width: 50%;
  }
  .loan-calculator-More .right {
	width: 50%;
  }
  
  @media (max-width: 650px) {
	.loan-calculator {
	  width: 90%;
	  max-width: 500px;
	}
	.loan-calculator-More {
	  width: 90%;
	  max-width: 500px;
	}
  
	.loan-calculator form {
	  flex-direction: column;
	  gap: 20px;
	}
	.loan-calculator-More form {
	  flex-direction: column;
	  gap: 20px;
	}
  
	.loan-calculator .result {
	  flex-direction: column;
	  text-align: center;
	}
	.loan-calculator-More .result {
	  flex-direction: column;
	  text-align: center;
	}
  }

  @media (max-width: 795px) {
	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		width: 400px;
		margin: 24px auto;
		text-align: center;
	
	}
  }
  @media (max-width: 400px) {
	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.7em;
		font-family: sans-serif;
		min-width: 100px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		width: 300px;
		margin: 24px auto;
		text-align: center;
	
	}
  }
  
/* Cap Rate End */